<?xml version="1.0" ?>
<robot name="cartopole" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find shi2d2_model)/urdf/gazebo/shi2d2_ros2_control.xacro"/>
  <xacro:include filename="$(find shi2d2_model)/urdf/gazebo/shi2d2_gazebo_plugins.xacro"/>

	<xacro:property name="effort" value="1000.0" />
	<xacro:property name="velocity" value="30.0" />

  <!-- <link name="world"/> -->
  <!-- <link name="upper_neck_link">
    <visual>
      <geometry>
        <box size="30 0.05 0.05"/>
      </geometry>
      <origin xyz="0 0 0"/>
    </visual>
    <inertial>
      <mass value="100"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
  </link> -->
  <link
    name="upper_neck_link">
    <inertial>
      <origin
        xyz="3.20229842643016E-10 0.00456641880555519 0.02102603018183"
        rpy="0 0 0" />
      <mass
        value="0.0458171863418158" />
      <inertia
        ixx="2.15673758568492E-05"
        ixy="1.649532366958E-13"
        ixz="-5.40737714696766E-14"
        iyy="2.52796558598174E-05"
        iyz="2.697546946691E-06"
        izz="9.11330065564873E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://shi2d2_model/meshes/upper_neck_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://shi2d2_model/meshes/upper_neck_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="head_link">
    <inertial>
      <origin
        xyz="0.00500336825963593 0 0.0238221948814875"
        rpy="0 0 0" />
      <mass
        value="2.67569751121501" />
      <inertia
        ixx="0.0105939643420427"
        ixy="6.16157394984149E-21"
        ixz="1.69633975914199E-07"
        iyy="0.0144986067494668"
        iyz="8.93711263768297E-19"
        izz="0.0239858417124271" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://shi2d2_model/meshes/head_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://shi2d2_model/meshes/head_link.STL" />
      </geometry>
    </collision>
  </link>
  <!-- <joint name="world_to_base" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 1"/>
    <parent link="world"/>
    <child link="upper_neck_link"/>
  </joint> -->
  <!-- <joint name="head_upper_neck_joint" type="revolute">
    <axis xyz="0 0 1"/>
    <origin xyz="0.0 0.0 0.0"/>
    <parent link="upper_neck_link"/>
    <child link="head_link"/>
    <limit effort="1000.0" lower="-15" upper="15" velocity="30"/>
    <dynamics damping="0.0" friction="0.0"/>
  </joint> -->

  <joint
    name="head_upper_neck_joint"
    type="revolute">
    <origin
      xyz="0 0 0.05"
      rpy="0 0 0" />
    <parent
      link="upper_neck_link" />
    <child
      link="head_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="${-pi/2}"
      upper="${pi/2}"
      effort="${effort}"
      velocity="${velocity}" />
  </joint>

  <gazebo reference="upper_neck_link">
    <visual>
      <material>
        <ambient>0 0.8 0 1</ambient>
        <diffuse>0 0.8 0 1</diffuse>
        <specular>0 0.8 0 1</specular>
      </material>
    </visual>
  </gazebo>

  <gazebo reference="head_link">
    <visual>
      <material>
        <ambient>0 0.8 0.8 1</ambient>
        <diffuse>0 0.8 0.8 1</diffuse>
        <specular>0 0.8 0.8 1</specular>
      </material>
    </visual>
  </gazebo>
</robot>