<?xml version="1.0" ?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
    <ros2_control name="IgnitionSystem" type="system">
      <hardware>
          <plugin>ign_ros2_control/IgnitionSystem</plugin>
      </hardware>

      <joint name="head_upper_neck_joint">
          <command_interface name="position">
              <param name="min">-1.57</param>
              <param name="max">1.57</param>
          </command_interface>
          <state_interface name="position">
            <param name="initial_value">0.0</param>
          </state_interface>
          <state_interface name="velocity"/>
      </joint>
  </ros2_control>
</robot>